<html>
    <head>
        <title>Create address</title>

    </head>

    <body>
    <h2>HTML Forms</h2>

    <form id="my-form" method="post" action="/address">
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br>

        <label for="street">Street:</label><br>
        <input type="text" id="street" name="street" required><br><br>

        <label for="postal">Postal:</label><br>
        <input type="text" id="postal" name="postal" required><br><br>


        <button type="submit">Submit</button>
    </form>

    </body>
</html>